<!DOCTYPE html>

<style>
tr {
}
  .main {
    background-color: white;
    align-items: center;
    height: 100vh;
    width: 80%;;
    flex-direction: column;
  }
  .title {
  }

  .form {
    flex-direction: column;
  }
  .happy {
    flex-direction: column;
  }
  table {
    border: 1px solid #333;
    border-collapse: collapse;
  }
  th {
    background-color: lightgrey;
    width: 50%;
    border: 1px solid #333;
  }
  td {
    border: 1px solid #333;
  }
  .title {
    justify-content: center;
  }
  </style>
    <div class="container main">
      <div class="backButton">
        <button class="backButton" onclick="window.location.href='/home'">Go back</button>
      </div>
      <div class="container title">
        <h1 id="editsTitle" contenteditable="true">How does it look?</h1>
      </div>
      <div class="container form col-ss-12 col-s-12 col-m-10 col-8 col-l-8">
        <div class="ingredientsTable">
					<button onclick="
					let rowAdd = document.createElement('tr');
					let ingAdd = document.createElement('td');
					ingAdd.innerHTML = ' ';
					ingAdd.classList.add('ingredient');
					ingAdd.contentEditable = 'true';
					let amtAdd = document.createElement('td')
					amtAdd.classList.add('amount');
					amtAdd.contentEditable = 'true';
					amtAdd.innerHTML = ' ';
					console.log(ingAdd);
					rowAdd.appendChild(ingAdd);
					rowAdd.appendChild(amtAdd);
					console.log('2');
					let ingTable = document.querySelector('.ingredientTableFinal');
					console.log('3');
					ingTable.appendChild(rowAdd);">
					+</button>
        <table class="ingredientTableFinal">
          <tr>
            <th>Ingredients</th>
            <th>Amounts</th>
          </tr>
        </table>
      </div>
      <div class='instructionsTable'>
				<button onclick="
				let rowAdd = document.createElement('tr');
				let instAdd = document.createElement('td');
				instAdd.innerHTML = ' ';
				instAdd.classList.add('ingredient');
				instAdd.contentEditable = 'true';

				rowAdd.appendChild(instAdd);
				console.log('2');
				let instTable = document.querySelector('.instructionsTableFinal');
				console.log('3');
				instTable.appendChild(rowAdd);">

				+</button>
        <table class="instructionsTableFinal">
          <tr>
            <th>Instructions</th>
          </tr>
        </table>
        <button class="submitEdit" onclick="sendEdit()">Submit changes</button>
</div>
    </div>
  </div>
